text
skipx
bootloader --location=mbr
firewall --disabled
firstboot --disable
keyboard us
lang en_US
logging --level=debug
rootpw  --iscrypted $6$1234123412341234$5hcxJ.fGJ2uzYEj90C7WaFjDr/bm/QUsXhHF.dhBsIpsp7y2SDefNPl44NPUmZXFZWMtxDs4hSTN5z3XL9RL4/
selinux --disabled
timezone --utc Europe/Moscow
zerombr

# Hack for AppStream repo
repo --name="AppStream" --baseurl=file:///run/install/repo/BaseOS

%pre --log /tmp/pre-install.log
echo "Starting Kickstart Pre-Installation..."
%end

install
cdrom
reboot --eject

part /boot --fstype=ext2 --size=300
part pv.01 --grow  --size=1000
volgroup vg_main pv.01

logvol /        --fstype=ext4 --name=slashroot  --vgname=vg_main --size=4196
logvol swap     --name=swap                     --vgname=vg_main --size=1024
logvol /var     --fstype=ext4 --name=var        --vgname=vg_main --size=2048
logvol /var/log --fstype=ext4 --name=varlog     --vgname=vg_main --size=1024
logvol /opt     --fstype=ext4 --name=opt        --vgname=vg_main --size=2048
logvol /tmp     --fstype=ext4 --name=tmp        --vgname=vg_main --size=512
logvol /home    --fstype=ext4 --name=home       --vgname=vg_main --size=1024

network --bootproto=dhcp
services --enabled=NetworkManager,sshd

%packages
@^minimal-environment
module-init-tools
parted
net-tools
network-scripts
openssh-clients 
sudo 
net-tools 
curl 
rsync 
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%addon com_redhat_kdump --disable --reserve-mb='auto' 

%end

%post --log /root/post-install.log 

cat << "EOF"
echo "Adding ssh key..."

install -d -m 0700 /root/.ssh
install -m 0600 additinal/root_public_keys /root/.ssh/authorized_keys
EOF
%end

